.form-control:focus {
    box-shadow: none !important;
    border-color: #ced4da !important;
}
.input-group {
    border-radius: 8px !important;
    overflow: hidden;
}
.btn:hover {
    background-color: #f8f9fa !important;
}