@media screen and (max-width: 990px) {
    #profile-container {
        padding: 1rem;
        margin-bottom: 55px;
    }
}
@media screen and (min-width: 990px) {
    h1 {
        display: none;
    }
    #profile-container {
        margin-top: 90px;
        padding: 0 150px 0 150px ;
    }
}