#register-partner {
    background-image: url("/src/public/back-register-UP.jpg");
    background-color: rgba(226, 250, 255, 1);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    img {
      position: absolute;
      width: 150px;
      top: 416px;
      right: 5px;
    }
    button{
      background-color: black;
      color: rgb(225 245 34);
      font-family: "Darumadrop One", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.3rem;
    }
  }

@media screen and (min-width: 990px) {
    #register-partner  {
      background-color: rgba(226, 250, 255, 1);
      margin-top: 65px;
      margin-bottom: 0;
      padding: 40px;
      img {
        position: absolute;
        width: 230px;
        top: 500px;
        right: 16%;
      }
      
    }
  }