#main-register {
  background-size: cover;
  background-image: url("../../public/register-mobile.png");
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  #card-container {
    display: flex;
    flex-direction: column;
    
  }
  a{
    background-color: rgba(255, 65, 145, 1);
    font-family: "Darumadrop One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    border: none;
    color: white;
  }
  #card-1 {
    overflow: hidden;
    #dragon-image{
      position: absolute;
      width: 130px;
      bottom: -105px;
      right: -46px;
      transform: rotate(30deg);
      animation: 3s linear 0s infinite alternate upAndDown;
    }
  }
}

@media screen and (min-width: 990px) {
  #main-register {
    background-image: url("../../public/wide-register.png");
    width: 100vw;
    height: 100vh;
    margin-top: 65px;
    margin-bottom: 0;
    padding: 40px;
    #register-illustration {
      display: none;
    }
    #card-container {
      display: flex;
      flex-direction: row;
      align-items: center;

      #card-1 {
        width: 550px;
        height: 200px;
        a {
          position: relative;
          bottom: -25px;
        }
      }
      #card-2 {
        width: 550px;
        height: 200px;
       
      }
    }
  }
}

@keyframes upAndDown {
  from {
    
    bottom: -105px;
  }
  to {
    
    bottom: -60px;
  }
}