#main-register {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    
    position: relative;

    #register-illustration {
      position: absolute;
      bottom: 63px;
      width: 100%;
      z-index:-1 ;

    }
  }

@media screen and (min-width: 990px) {
    #main-register  {
      margin-top: 65px;
      margin-bottom: 0;
      padding: 40px;
      
    }
  }