#register-partner {
    background-image: url("/src/public/back-register-UP.jpg");
    background-color: rgba(226, 250, 255, 1);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    img {
      position: absolute;
      width: 150px;
      top: 416px;
      right: 5px;
    }
  }

@media screen and (min-width: 990px) {
    #register-partner  {
      background-color: rgba(226, 250, 255, 1);
      margin-top: 65px;
      margin-bottom: 0;
      padding: 40px;
      img {
        position: absolute;
        width: 230px;
        top: 500px;
        right: 16%;
      }
      
    }
  }