#login-screen {
  background-color: rgba(250, 255, 235, 1);
  width: 100vw;
  height: 100vh;
  img {
    position: absolute;
    width: 169px;
    top: 297px;
    left: -8px;
  }
}

@media screen and (min-width: 990px) {
  #login-screen {
    background-color: rgba(250, 255, 235, 1);
    width: 100vw;
    height: 100vh;
    #login-form {
      margin-top: 65px;
    }
    img {
      position: absolute;
      width: 230px;
      top: 330px;
      left: 28%;
    }
  }
}
