@media screen and (max-width: 990px) {
    #today-container {
        padding: 1rem;
        margin-bottom: 55px;
    }
}
@media screen and (min-width: 990px) {
    h1 {
        display: none;
    }
    #today-container {
        margin-top: 80px;
        padding: 0 150px 0 150px ;
        margin-bottom: 30px;
    }
}